{
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "noBracketSpacing": true,
  "arrowParens": "avoid",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 420,
        "parser": "json",
        "singleQuote": false
      }
    }
  ]
}
